<header class="site-header">
  <div class="container">
          <div class="logo">
        <!-- Link the banner image back to the homepage -->
        <a href="{{ .Site.BaseURL }}">
          <img src="/images/TopBanner2.jpg" alt="AI-Driven Quantum Chemistry Banner" class="header-banner"> 
        </a> 
      </div>
<nav class="main-nav">
      <ul>
        <!-- Add list items for each navigation link -->
        <li><a href="{{ "/" | relURL }}">Home</a></li>
        <!-- <li><a href="{{ "/platform/" | relURL }}">Platform</a></li> -->
        <li><a href="{{ "/publications/" | relURL }}">Publications</a></li>
        <li><a href="{{ "/awards/" | relURL }}">Awards</a></li>
        <li><a href="{{ "/academic_profile/" | relURL }}">Profile</a></li>
        <li><a href="{{ "/editor/" | relURL }}">Editor</a></li>
        <li><a href="{{ "/explore/" | relURL }}">Explore</a></li>
        <li><a href="{{ "/Join/" | relURL }}">Join</a></li>
        <li><a href="{{ "/contact/" | relURL }}">Contact</a></li> 
        <!-- Add more links as needed -->
      </ul>
    </nav>
  </div>
</header>

